
/** GENERAL **/

body {
    font-family: "Montserrat";
    font-size: 0.9rem;
    color: #353535;
    width: 100%;
    margin:0%;
    background-color:#ececec;
}

/** HEADER **/

#header {
    display: block;
    width: 100%;
    height: 15vh;
    background-color: #d9d9d9;
}

/** NAV **/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    height: 15%;
    width: 100%;
    justify-content: horizontal;
    background-color: #d9d9d9;
}

.navbarNav {
    height: 15%;
    background-color: #d9d9d9;
}

.nav-item {
    list-style-type: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    height: 15%;
    background-color: #d9d9d9;
}

.navbar-brand {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

.nav-link {
    text-decoration: none;
    color:#353535;
}

.nav-link:hover {
    color: #c8824f;
}

.navdisplay {
    display: flex;
    align-items:flex-start;
}

.navbar-toggler {
    position: absolute;
    top: 25%;
    right: 5%;
}

/** INICIO **/

#home {
    width: 90%;
    margin: 5% auto;
    border-width: 2px;
    border-style: solid;
    border-color:#737272;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #737272;
    background-color:#c8814f91;
    display:grid;
    grid-template-areas:
    "title title"
    "image description";
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 90%;
}

h1 {
    grid-area: title;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 5%;
    color:#353535;
}

#imagen {
    grid-area: image;
}

.img-container {
    width: 80%;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

#portada {
    width: 100%;
    box-shadow: 0px 3px 5px #737272;
}

#intro {
    grid-area: description;
    width: 90%;
    margin: auto;
    text-align: left;
    font-size: 1rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.p {
    margin-top: 4%;
}

/** SERVICIOS **/

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

#servicios {
    width: 80%;
    margin: 0% 10% 3% 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-width: 3px;
    
}

.sector-a {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "titulo info"
    "foto info";
    border-width: 2px;
    border-style: solid;
    border-color:#737272;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #737272;
}

.sector-a h2 {
    grid-area: titulo;
    text-align: center;
    margin: auto;
}

.serv-info {
    grid-area: info;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c8814f91;
}

.serv-info ol {
    list-style-type:circle;
}

.sm-img-container {
    width: 30%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    grid-area: foto;
}

.serv-img {
    width: 100%;
    box-shadow: 0px 3px 5px #737272;
}

.sector-b {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "info titulo"
    "info foto";
    border-width: 2px;
    border-style: solid;
    border-color:#737272;
    box-shadow: 0px 3px 5px #737272;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sector-b h2 {
    grid-area: titulo;
    text-align: center;
    margin: auto;
}

/** CONTACTO **/

#contacto {
    width: 90%;
    margin: 5%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    border-width: 2px;
    border-style: solid;
    border-color:#737272;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #737272;
    background-color:#c8814f91;
}

#info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#info h2 {
    text-align: center;
    margin-bottom: 2%;
}

#mapa {
    margin: auto;
}

#formulario {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

legend {
    font-size: 1rem;
    text-align: center;
}

label {
    margin-top: 10%;
}

input {
    width: 80%;
    margin: auto;
}

textarea {
    width: 80%;
    margin: auto;
}

#boton {
    width: 40%;
    margin-top: 10%;
}

iframe {
    margin: 2%;
}

form legend {
    font-size: 16px;
    font-weight: bold;
}

form label {
    font-size: 14px;
    font-weight: bold;
}

#info ul {
    list-style-type: none;
    padding-inline-start: 0%;
}

/** FOOTER **/

footer {
    background-color: #d9d9d9;
    height: 5vh;
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#copy {
    font-size: 0.7rem;
    padding-left: 5%;
    margin-top: 0.5%;
    width: 45%;
}

#links {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    padding-right: 5%;
    margin-top: 0.5%;
    width: 45%;
}

#links li {
    list-style-type: none;
    padding-left: 5%;
    margin-top: 3%;
}




/** TABLET **/

@media screen and (max-width:992px) {
    .navdisplay {
        padding-left: 0;
        padding-right: 0;
    }
    
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        flex-wrap: wrap;
    }
    
    .navbar-nav {
        text-transform: uppercase;
        width: 100%;
        background-color: #d9d9d9;
        text-align: center;
    }

    .nav-item {
        display: block;
    }

    #home {
        display:grid;
        grid-template-areas:
        "title"
        "image"
        "description";
        grid-template-columns: 100%;
        grid-template-rows: 5% 50% 45%;
    }

    h1 {
        font-size: 1.1rem;
        margin: 2% auto 2% auto;
    }

    .img-container {
        max-width: 320px;
        min-width: 240px;
        min-height: 400px;
        margin: 3% auto;
    }    

    #intro {
        font-size: 0.8rem;
        margin: 3% auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .p {
        margin-top: 2%;
    }

    .sector-a {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .sector-a h2 {
        font-size: 1rem;
        margin-top: 2%;
    }
    
    .sector-b {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sector-b h2 {
        font-size: 1rem;
        margin-top: 2%;
    }

    .serv-info {
        font-size: 0.8rem;
        padding: 3%;
    }

    .serv-info p {
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .sm-img-container {
        max-width: 350px;
        min-width: 250px;
        margin: 3% auto 3% auto;
    }

    .serv-img {
        max-height:150px;
    }

    #contacto {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    #info {
        width: 96%;
        display: flex;
        align-items: center;
    }

    #info h2 {
        margin-top: 5%;
    }
    
    #info div {
        margin-top: 5%;
    }

    #info ul {
        margin-top: 5%;
        margin-left: 5%;
    }

    #formulario {
        width: 90%;
        margin-left: 6%;
        align-items: center;
    }

    #formulario form {
        width: 100%;
        margin: auto;
    }

    legend {
        margin-top: 5%;
    }

    label {
        margin-top: 5%;
    }

    input {
        width: 95%;
    }
    
    textarea {
        width: 95%;
    }

    #boton {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #copy {
        font-size: 0.6rem;
        margin-top: 1%;
    }
    
    #links li {
        margin-top: 4%;
    }

}




/** MOBILE **/

@media screen and (max-width:480px) {
    #home {
        grid-template-rows: 5% 35% 60%;
    }

    h1 {
        font-size: 0.9rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    h2 {
        font-size: 1rem;
    }

    .img-container {
        max-width: 280px;
        min-width: 150px;
        margin-top: 5%;
        margin-bottom: 0;
    }    

    #intro {
        font-size: 0.8rem;
        margin: 5% auto 0 auto;
    }

    .sector-a {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .sector-b {
        display: flex;
        flex-direction: column;
    }

    .sm-img-container {
        max-width: 260px;
        min-width: 180px;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .serv-info {
        font-size: 0.7rem;
        padding-top: 5%;
    }

    .serv-info p {
        margin-top: 0;
    }

    #mapa {
        width: 250px;
    }

    #copy {
        font-size: 0.6rem;
    }
    
    #links li {
        margin-top: 8%;
    }

}
