/** CONTACTO **/

#contacto {
    width: 90%;
    margin: 5%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    @include boxes (2px, solid, $color-ppal, 5px, 0px 3px 5px $color-sombra);
    background-color: $color-ppal;
}

#info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

        h2 {
            text-align: center;
            margin-bottom: 2%;
        }

        ul {
            margin-top: 5%;
            list-style-type: none;
            padding-inline-start: 0%;
        }
}

#mapa {
    margin: auto;
    padding-top: 3%;
}

#formulario {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    margin-top: 10%;
}

input {
    width: 80%;
    margin: auto;
}

textarea {
    width: 80%;
    margin: auto;
}

#boton {
    width: 40%;
    margin-top: 10%;
}

iframe {
    margin: 2%;
}

form {
    
    legend {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        }

    label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 2%;
    }    
}        
