$color-fondo: #ececec;
$color-texto: #323232;
$color-header: #d9d9d9;
$color-sombra: #737272;
$color-ppal: #ba9e8c;
$color1: #c8824f;

/** GENERAL **/

body {
    font-family: "Montserrat";
    font-size: 0.9rem;
    color: $color-texto;
    width: 100%;
    margin:0%;
    background-color: $color-fondo;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 5%;
    color: $color-texto;
}    

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

/** HEADER **/

#header {
    display: block;
    width: 100%;
    height: 15vh;
    background-color: $color-header;
}

/** NAV **/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-transform: uppercase;
    height: 15%;
    width: 100%;
    justify-content: horizontal;
    background-color: $color-header;
}

.navbarNav {
    height: 15%;
    background-color: $color-header;
}

.nav-item {
    list-style-type: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    height: 15%;
    background-color: $color-header;
}

.navbar-brand {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: $color-header;
}

.nav-link {
    text-decoration: none;
    color: $color-texto;
}

.nav-link:hover {
    color: $color1;
}

.navdisplay {
    display: flex;
    align-items:flex-start;
}

.navbar-toggler {
    position: absolute;
    top: 25%;
    right: 5%;
}

/** INICIO **/

#home {
    width: 90%;
    margin: 5% auto;
    border-width: 1px;
    border-style: solid;
    border-color: $color-ppal;
    border-radius: 5px;
    box-shadow: 0px 3px 5px $color-sombra;
    background-color: $color-ppal;
    display:grid;
    grid-template-areas:
    "title title"
    "image description";
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 90%;

        h1 {
            grid-area: title;
        }
}

#imagen {
    grid-area: image;
}

.img-container {
    width: 80%;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

#portada {
    width: 100%;
    box-shadow: 0px 3px 5px $color-sombra;
    border-radius: 5px;
}

#intro {
    grid-area: description;
    width: 90%;
    margin: auto;
    text-align: left;
    font-size: 1rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.p {
    margin-top: 4%;
}

/** SERVICIOS **/

#servicios {
    width: 90%;
    margin: 0% 5% 3% 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-width: 3px;
    
}

.sector-a {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "titulo info"
    "foto info";
    border-width: 2px;
    border-style: solid;
    border-color: $color-ppal;
    border-radius: 5px;
    box-shadow: 0px 3px 5px $color-sombra;

        h2 {
            grid-area: titulo;
            text-align: center;
            margin: auto;
        }
}

.serv-info {
    grid-area: info;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-ppal;

        ol {
            list-style-type: circle;
        }
}

.sm-img-container {
    width: 30%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    grid-area: foto;
}

.serv-img {
    width: 100%;
    box-shadow: 0px 3px 5px $color-sombra;
    border-radius: 5px;
}

.sector-b {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "info titulo"
    "info foto";
    border-width: 2px;
    border-style: solid;
    border-color: $color-ppal;
    box-shadow: 0px 3px 5px $color-sombra;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;

        h2 {
            grid-area: titulo;
            text-align: center;
            margin: auto;
        }
}

/** PROYECTOS **/

#proyectos {
    width: 90%;
    margin: auto 5% auto 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 4%;
}

.project {
    width: 48%;
    border-width: 2px;
    border-style: solid;
    border-color: $color-ppal;
    box-shadow: 0px 3px 5px $color-sombra;
    border-radius: 5px;
    margin-bottom: 5%;

        h2 {
            text-align: center;
            background-color: $color-ppal;
            margin: 0;
            padding: 3%;
        }
}

.project-card {
    display: flex;
    flex-direction: column;
}

.project-info {
    background-color: $color-ppal;
    padding: 5%;
}

.project-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.project-img {
    max-width: 450px;
    padding: 5%;
        
        img {
            width: 100%;
            box-shadow: 0px 3px 5px $color-sombra;
            border-radius: 5px;
        }
}


/** NOSOTROS **/

#nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;        
}

.team-container {
    border-width: 2px;
    border-style: solid;
    border-color: $color-ppal;
    border-radius: 5px;
    box-shadow: 0px 3px 5px $color-sombra;
    width: 100%;
    margin-bottom: 5%;        
}    

.team-card1 {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "titulo info"
    "foto info";

        h2 {
            grid-area: titulo;
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
            margin: 0;
        }
}

.team-info {
    grid-area: info;
    height: 100%;
    padding-top: 3%;
    background-color: $color-ppal;

        p {
            margin: 4%;
        }

        ul{
            list-style-type: none;
            margin-left: 5%;
        }
}

.team-img {
    grid-area: foto;
    width: 90%;
    margin: 5% auto;
    padding: 2%;

        img {
            width: 100%;
            box-shadow: 0px 3px 5px $color-sombra;
            border-radius: 5px;
        }

}

.team-card2 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "info titulo"
    "info foto";
    
        h2 {
            grid-area: titulo;
            text-align: center;
            padding-top: 2%;
            padding-bottom: 2%;
            margin: 0;
        }

        .team-info {
            grid-area: info;
        }

        .team-img {
            grid-area: foto;
        }
}

/** CONTACTO **/

#contacto {
    width: 90%;
    margin: 5%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    border-width: 2px;
    border-style: solid;
    border-color: $color-ppal;
    border-radius: 5px;
    box-shadow: 0px 3px 5px $color-sombra;
    background-color: $color-ppal;
}

#info {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

        h2 {
            text-align: center;
            margin-bottom: 2%;
        }

        ul {
            margin-top: 5%;
            list-style-type: none;
            padding-inline-start: 0%;
        }
}

#mapa {
    margin: auto;
    padding-top: 3%;
}

#formulario {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    margin-top: 10%;
}

input {
    width: 80%;
    margin: auto;
}

textarea {
    width: 80%;
    margin: auto;
}

#boton {
    width: 40%;
    margin-top: 10%;
}

iframe {
    margin: 2%;
}

form {
    
    legend {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        }

    label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 2%;
    }    
}        

/** FOOTER **/

footer {
    background-color: $color-header;
    height: 5vh;
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#copy {
    font-size: 0.7rem;
    padding-left: 5%;
    margin-top: 0.5%;
    width: 45%;
}

#links {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    padding-right: 5%;
    margin-top: 0.5%;
    width: 45%;

        li {
            list-style-type: none;
            padding-left: 5%;
            margin-top: 3%;
        }
}




/** TABLET **/

@media screen and (max-width:992px) {
    
    /* nav */
    
    .navdisplay {
        padding-left: 0;
        padding-right: 0;
    }
    
    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        flex-wrap: wrap;
    }
    
    .navbar-nav {
        text-transform: uppercase;
        width: 100%;
        background-color: #d9d9d9;
        text-align: center;
    }

    .nav-item {
        display: block;
    }

    /* inicio */

    #home {
        display:grid;
        grid-template-areas:
        "title"
        "image"
        "description";
        grid-template-columns: 100%;
        grid-template-rows: 5% 50% 45%;
    }

    h1 {
        font-size: 1.1rem;
        margin: 2% auto 2% auto;
    }

    .img-container {
        max-width: 320px;
        min-width: 240px;
        min-height: 400px;
        margin: 3% auto;
    }    

    #intro {
        font-size: 0.8rem;
        margin: 3% auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .p {
        margin-top: 2%;
    }

    /* servicios */

    .sector-a {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

            h2 {
                font-size: 1rem;
                margin-top: 2%;
            }
    }
    
    .sector-b {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

            h2 {
                font-size: 1rem;
                margin-top: 2%;
            }
    }

    .serv-info {
        font-size: 0.8rem;
        padding: 3%;

            p {
                margin-top: 2%;
                margin-bottom: 1%;
            }
    }

    .sm-img-container {
        max-width: 350px;
        min-width: 250px;
        margin: 3% auto 3% auto;
    }

    .serv-img {
        max-height:150px;
    }

    /* proyectos */

#proyectos {
    flex-direction: column;
}

.project {
    width: 100%;
}

.project-card {
    display: flex;
    flex-direction: column;
}

    /* nosotros */

    .team-card1 {
        display: flex;
        flex-direction: column;
    
            h2 {
                background-color: $color-ppal;
                font-size: 1.1rem;
            }

            .team-info {
                padding-top: 0;

                ul {
                    margin-left: 0;
                    padding-inline-start: 4%;
                }
            }
    }

    .team-card2 {
        display: flex;
        flex-direction: column;
    
            h2 {
                background-color: $color-ppal;
                font-size: 1.1rem;
            }

            .team-info {
                padding-top: 0;
            }
    }

    /* contacto */

    #contacto {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    #info {
        width: 96%;
        display: flex;
        align-items: center;

            h2 {
                margin-top: 5%;
            }

            div {
                margin-top: 5%;
            }

            ul {
                margin-top: 5%;
                margin-left: 5%;
            }
    }

    #formulario {
        width: 90%;
        margin-left: 6%;
        align-items: center;

            form {
                width: 100%;
                margin: auto;
            }
    }

    legend {
        margin-top: 5%;
    }

    label {
        margin-top: 5%;
    }

    input {
        width: 95%;
    }
    
    textarea {
        width: 95%;
    }

    #boton {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /* footer */

    #copy {
        font-size: 0.6rem;
        margin-top: 1%;
    }
    
    #links {
        li {
        margin-top: 4%;
        }
    }

}




/** MOBILE **/

@media screen and (max-width:480px) {
    
    /* general */

    h1 {
        font-size: 1.1rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    h2 {
        font-size: 1rem;
    }
    
    /* inicio */

    #home {
        grid-template-rows: 5% 35% 60%;
    }

    .img-container {
        max-width: 280px;
        min-width: 150px;
        margin-top: 5%;
        margin-bottom: 0;
    }    

    #intro {
        font-size: 0.8rem;
        margin: 5% auto 0 auto;
    }

    /* servicios */

    .sector-a {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .sector-b {
        display: flex;
        flex-direction: column;
    }

    .sm-img-container {
        max-width: 260px;
        min-width: 180px;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .serv-info {
        font-size: 0.8rem;
        padding-top: 5%;

            p {
                margin-top: 0;
            }
    }

    /* proyectos */

    .project-info {
        font-size: 0.8rem;
    }

    /* nosotros */

    .team-card1 {
            h2 {
                font-size: 1rem;
            }

            .team-info {
                font-size: 0.8rem;
            }
    }

    .team-card2 {
            h2 {
                font-size: 1rem;
            }

            .team-info {
                font-size: 0.8rem;
            }
    }

    /* contacto */

    #mapa {
        width: 250px;
    }

    /* footer */

    #copy {
        font-size: 0.6rem;
    }
    
    #links {
        li {
            margin-top: 8%;
        }
    }    

}