$color-fondo: #ececec;
$color-texto: #323232;
$color-header: #d9d9d9;
$color-sombra: #737272;
$color-ppal: #ba9e8c;
$color1: #c8824f;

@mixin boxes($bwidth, $bstyle, $color-ppal, $bradius, $bshadow) {
    border-width: $bwidth;
    border-style: $bstyle;
    border-color: $color-ppal;
    border-radius: $bradius;
    box-shadow: $bshadow;
}

/** GENERAL **/

body {
    font-family: "Montserrat";
    font-size: 0.9rem;
    color: $color-texto;
    width: 100%;
    margin:0%;
    background-color: $color-fondo;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 5%;
    color: $color-texto;
}    

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

/** HEADER **/

#header {
    display: block;
    width: 100%;
    height: 15vh;
    background-color: $color-header;
}

@import "./nav";

@import "./inicio";

@import "./servicios";

@import "./proyectos";

@import "./nosotros";

@import "./contacto";

/** FOOTER **/



footer {
    background-color: $color-header;
    height: 5vh;
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#copy {
    font-size: 0.7rem;
    padding-left: 5%;
    margin-top: 0.5%;
    width: 45%;
}

#links {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-end;
    padding-right: 5%;
    margin-top: 0.5%;
    width: 45%;

        li {
            list-style-type: none;
            padding-left: 5%;
            margin-top: 3%;
        }
}

@import "./breakpoint992";

@import "./breakpoint480";